* {
    box-sizing: border-box;
}

body{
    margin: 0;
    color: #293264;
}

h1, h2, p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.start-container {
    text-align: center;
}

.start-container h1 {
    margin-bottom: 7px;
}

button {
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    color: #F5F7FB;
    width: 200px;
    min-height: 50px;
    margin-top: 30px; 
}

.check-btn {
    margin-top: 10px;
}

section {
    width: 80%;
    border-bottom: 1px solid #DBDEF0;
    margin-bottom: 15px;
}

.choices-container {
    display: flex;
    gap: 13px;
    text-align: center;
}

.choices-container p {
    display: flex;
    align-items: center;
    border: 1px solid #4D5B9E;
    padding: 4px 8px;
    margin-top: 12px;
    margin-bottom: 19px;
    border-radius: 8px;
}

hr {
    height: 5px;
}

